<div class="container">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Le Tour de Smash 2019
        </h1>
        <h2 class="subtitle">
          The Leader Board
        </h2>
      </div>
    </div>
  </section>

  <table class="table">
    <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Current Character</th>
      <th>Progress</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let player of players; let i=index" [attr.data-index]="i">
      <td>{{ i + 1 }}</td>
      <td>{{ player.name }}</td>
      <td>{{ findCurrentCharacterName(player) }}</td>
      <td>{{ calculateProgress(player) | number }}%</td>
    </tr>
    </tbody>
  </table>
</div>
